
{{> dashboardHeader}}
    <div class="container-fluid">
      <div class="row">
         <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/user/profile">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">Current</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/recent">
                  <span ><i class="fa fa-binoculars"></i></span>
                  List of All Transactions
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/monthly">
                  <span ><i class="fa fa-shopping-basket"></i></span>
                  Monthly Expenditures
                </a>
              </li>
            
             
             
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Profile Settings</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
            
             
          
              <li class="nav-item">
                <a class="nav-link" href="/user/update">
                  <span ><i class="fa fa-edit"></i></span>
                  Profile
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">User Information Update</h1>
            <div class="btn-toolbar mb-2 mb-md-0">

            </div>
          </div>

<form action="/user/manualExp" method="post">
  <div class="form-group">    
  <label for="exampleInputEmail1">First Name</label>
    <input name="first_name" type="text" class="form-control"  aria-describedby="emailHelp"  value="{{user.first_name}}">
  </div>
   <div class="form-group">    
  <label for="exampleInputEmail1">Last Name</label>
    <input name="last_name" type="text" class="form-control"  aria-describedby="emailHelp"  value="{{user.last_name}}">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1">Monthly Income</label>
    <input name="income" type="number" class="form-control"  aria-describedby="emailHelp"  value="{{user.income}}">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1">Monthly Income</label>
    <input name="additional_income" type="number" class="form-control"  aria-describedby="emailHelp"  value="{{user.additional_income}}">
  </div>
  <div class="form-group">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
  <button type="submit" class="btn btn-primary">Register</button>
  </div>
  
  
</form>
         
        </main>
      </div>
    </div>



 

