
{{> dashboardHeader}}
    <div class="container-fluid">
      <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/user/profile">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">Current</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/recent">
                  <span ><i class="fa fa-binoculars"></i></span>
                  List of All Transactions
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/monthly">
                  <span ><i class="fa fa-shopping-basket"></i></span>
                  Monthly Expenditures
                </a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/user/getcategory">
                  <span ><i class="fas fa-chart-line"></i></span>
                  Category Charts
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/monthlyEarning">
                  <span ><i class="far fa-money-bill-alt"></i></span>
                  Monthly Earnings
                </a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="/user/bycategory">
                  <span ><i class="fa fa-shopping-basket"></i></span>
                  Expenditures by Categpry
                </a>
              </li>
            
             
             
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Profile Settings</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
            
             <li class="nav-item">
                <a class="nav-link" href="/user/manualExp">
                  <span ><i class="fa fa-plus"></i></span>
                  Add Expenses
                </a>
              </li>
          
              <li class="nav-item">
                <a class="nav-link" href="/user/update">
                  <span ><i class="fas fa-address-card"></i></span>
                  Profile
                </a>
              </li>
              
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Monthly Income Update</h1>
            <div class="btn-toolbar mb-2 mb-md-0">

            </div>
          </div>

<form action="/user/monthlyEarning" method="post">
  <div class="form-group">
  <label for="exampleInputEmail1">January</label>
    <input name="jan_income" type="number" class="form-control"  aria-describedby="emailHelp"  value="{{user.jan_income}}" readonly>
  </div>
   <div class="form-group">
  <label for="exampleInputEmail1">February</label>
    <input name="feb_income" type="number" class="form-control"  aria-describedby="emailHelp"  value="{{user.feb_income}}" readonly>
  </div>
   <div class="form-group">
  <label for="exampleInputEmail1">March</label>
    <input name="march_income" type="number" class="form-control"  aria-describedby="emailHelp"  value="{{user.march_income}}" readonly>
  </div>
   <div class="form-group">
  <label for="exampleInputEmail1">April</label>
    <input name="april_income" type="number" class="form-control"  aria-describedby="emailHelp"  value="{{user.april_income}}" readonly>
  </div>
   <div class="form-group">
  <label for="exampleInputEmail1">May</label>
    <input name="may_income" type="number" class="form-control"  aria-describedby="emailHelp"  value="{{user.may_income}}" readonly>
  </div>
    <div class="form-group">
  <label for="exampleInputEmail1">June</label>
    <input name="june_income" type="number" class="form-control"  aria-describedby="emailHelp"  value="{{user.june_income}}" readonly>
  </div>
    <div class="form-group">
  <label for="exampleInputEmail1">July</label>
    <input name="july_income" type="number" class="form-control"  aria-describedby="emailHelp"  value="{{user.july_income}}" readonly>
  </div>
    <div class="form-group">
  <label for="exampleInputEmail1">August</label>
    <input name="income" type="number" class="form-control"  aria-describedby="emailHelp"  value="{{user.income}}">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1">September</label>
    <input name="sept_income" type="number" class="form-control"  aria-describedby="emailHelp"  value="{{user.sept_income}}">
  </div>
    <div class="form-group">
  <label for="exampleInputEmail1">October</label>
    <input name="octo_income" type="number" class="form-control"  aria-describedby="emailHelp"  value="{{user.octo_income}}">
  </div>
    <div class="form-group">
  <label for="exampleInputEmail1">November</label>
    <input name="nov_income" type="number" class="form-control"  aria-describedby="emailHelp"  value="{{user.nov_income}}" >
  </div>
   <div class="form-group">
  <label for="exampleInputEmail1">December</label>
    <input name="dec_income" type="number" class="form-control"  aria-describedby="emailHelp"  value="{{user.dec_income}}">
  </div>
  <div class="form-group">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
  <button type="submit" class="btn btn-primary">Update</button>
  </div>
  
  
</form>
         
        </main>
      </div>
    </div>



 

