
{{> dashboardHeader}}
    <div class="container-fluid">
      <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/user/profile">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">Current</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/recent">
                  <span ><i class="fa fa-binoculars"></i></span>
                  List of All Transactions
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/user/monthly">
                  <span ><i class="fa fa-shopping-basket"></i></span>
                  Monthly Expenditures
                </a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/user/monthlyEarning">
                  <span ><i class="fa fa-shopping-basket"></i></span>
                  Monthly Earnings
                </a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="/user/bycategory">
                  <span ><i class="fa fa-shopping-basket"></i></span>
                  Expenditures by Categpry
                </a>
              </li>
            
             
             
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Profile Settings</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
            
             <li class="nav-item">
                <a class="nav-link" href="/user/manualExp">
                  <span ><i class="fa fa-plus"></i></span>
                  Add Expenses
                </a>
              </li>
          
              <li class="nav-item">
                <a class="nav-link" href="/user/update">
                  <span ><i class="fa fa-edit"></i></span>
                  Profile
                </a>
              </li>
              
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Monthly Expenditures</h1>  <button class="btn btn-success">Kshs.{{userSalary}}</button>
         
          </div>  
{{# if result}}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Month</th>
      <th scope="col">Year</th>
      <th scope="col">Total Spent (Kshs)</th>
      <th scope="col">Transactions</th>
    </tr>
  </thead>
  {{#result}}
  <tbody>
    <tr>
      {{#_id}}
      <td>{{month}}</td>
      <td>{{year}}</td>
      {{/_id}}
      <th scope="row">
       
        {{totalAmount}}
       
        </th>
      
      <td>{{count}}</td>
    </tr>
  
  </tbody>
  {{/result}}
</table>
<div class="alert alert-warning" role="alert">
  High Expenditures
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Month</th>
      <th scope="col">Year</th>
      <th scope="col">Total Spent (Kshs)</th>
      <th scope="col">Transactions</th>
    </tr>
  </thead>
  {{#gt}}
  <tbody>
    <tr>
      {{#_id}}
      <td>{{month}}</td>
      <td>{{year}}</td>
      {{/_id}}
      <th scope="row">
       <button type="button" class="btn btn-danger">{{totalAmount}}</button>
        
       
        </th>
      
      <td>{{count}}</td>
    </tr>
  
  </tbody>
  {{/gt}}
</table>
{{!-- manual transactions --}}
<div class="alert alert-dark" role="alert">
 Manual Expenditures Entered
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Month</th>
      <th scope="col">Year</th>
      <th scope="col">Total Spent (Kshs)</th>
      <th scope="col">Transactions</th>
    </tr>
  </thead>
  {{#resultManual}}
  <tbody>
    <tr>
      {{#_id}}
      <td>{{month}}</td>
      <td>{{year}}</td>
      {{/_id}}
      <th scope="row">
       <button type="button" class="btn btn-danger">{{totalAmount}}</button>
        
       
        </th>
      
      <td>{{count}}</td>
    </tr>
  
  </tbody>
  {{/resultManual}}
</table>
{{else}}
<div class="container" style="text-align:center">
<h1><div class="alert alert-warning" role="alert">
  No Transactions Yet
</div></h1>
<img height="100px" src="/images/sad.png">
</div>

        </main>
      </div>
    </div>
    {{/if}}
 

 



 

