
{{> dashboardHeader}}
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/user/profile">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">Current</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/recent">
                  <span ><i class="fa fa-binoculars"></i></span>
                  List of All Transactions
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/monthly">
                  <span ><i class="fa fa-shopping-basket"></i></span>
                  Monthly Expenditures
                </a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/user/getcategory">
                  <span ><i class="fas fa-chart-line"></i></span>
                  Category Charts
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/monthlyEarning">
                  <span ><i class="far fa-money-bill-alt"></i></span>
                  Monthly Earnings
                </a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="/user/bycategory">
                  <span ><i class="fa fa-shopping-basket"></i></span>
                  Expenditures by Categpry
                </a>
              </li>
            
             
             
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Profile Settings</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
            
             <li class="nav-item">
                <a class="nav-link" href="/user/manualExp">
                  <span ><i class="fa fa-plus"></i></span>
                  Add Expenses
                </a>
              </li>
          
              <li class="nav-item">
                <a class="nav-link" href="/user/update">
                  <span ><i class="fas fa-address-card"></i></span>
                  Profile
                </a>
              </li>
              
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Graphical User Transactions</h1>
         
          </div>
{{!-- {{# if updated}} --}}
      {{!-- <div class="jumbotron">
  <h1 class="display-6">Hello, {{user.first_name}}</h1>
  <p class="lead">Welcome to your world of managing finances</p>
  <hr class="my-2">
  <p>Today: {{moment date format="dddd, DD MMMM YYYY HH:mm:ss"}}</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Current Earning: Kshs. {{user.income}}</a>
</div> --}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <h4 class="alert-heading">Welcome Back!</h4>
  <h1 class="display-6">Hello, {{user.first_name}}</h1>
  <p class="lead">Welcome to your world of managing finances</p>
  Today: <strong>{{moment date format="dddd, DD MMMM YYYY HH:mm:ss"}}</strong>
  <hr class="my-2">
  <a class="btn btn-primary btn-lg" href="#" role="button">Current Earning: Kshs. {{user.income}}</a>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
        <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>


  <div class="alert alert-primary" role="alert"><img src="/images/mia.jpg" height="30" width="60">
  List of Recent Transactions
</div>
        
{{# each orders}}

          <div class="table-responsive">
            <table class="table table-striped table-sm">
              
            <h3>{{moment this.date "MMMM Do YYYY, h:mm:ss a"}}</h3>
            
          
           
      <div class="colalert alert-danger" role="alert">
  Shopped  <a href="#" class="alert-link">{{moment this.date endOf="week" fromNow=true}} Ago</a>
        </div>
    
          </div>
         
          Total Spent: Kshs.<b></h4>{{this.cart.totalPrice}}</h4>
            
              <thead>
                <tr>
                  <th>Item Price</th>
                  <th>Item Name</th>
                  <th>Item Description</th>
                  <th>Category</th>
                  <th>Quantity</th>
                </tr>
              </thead>
              {{# each this.items}}
              <tbody>
                <tr>
                  <td>{{this.price}}</td>
                  <td>{{this.item.title}}</td>
                  <td>{{this.item.description}}</td>
                  <td>{{this.item.category}}</td>
                  <td>{{this.qty}}</td>
                </tr>
              </tbody>
               {{/each}}
            </table>
           
          {{/each}}
{{!-- {{else}} --}}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Thank you for registering...!</h4>
  <p>Aww yeah, everyting is set up for you..one bit remaining, click the link below to update your profile settings</p>
  <hr>

  <p class="mb-0">Whenever you need to, be sure that all your transactions will be analysed</p>

  <hr>
  <a href="/user/update" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"><span><i class="fas fa-user-cog"></i></span> User Information</a>
</div>
{{!-- {{/if}}  --}}

        
        </main>
      </div>
    </div>
  <script>
    const url = '/user/getdata';
fetch(url,{credentials: 'include'})
.then(res => {if (!res.ok) {
      throw new Error(res.statusText); }   
    return res.json();
  })
  .then(data => {  
    let userDatas = data;
    let label = [];
    let chartData=[];
 
    userDatas.forEach(userData => {
           const monthNames = ["January", "February", "March", "April", "May", "June",
  "July", "August", "September", "October", "November", "December"
];
        var mydate=new Date(userData.date);
       var monthname=monthNames[mydate.getMonth()];
       // var months=mydate.getMonth()+1;
      label.push([monthname]);
     
      chartData.push([userData.cart.totalPrice]);
    });
   var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: label,
        datasets: [{
            label: ['Your expenses'],
            data:chartData,
            borderWidth: 1,
             backgroundColor: [
                
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                 'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)',
                'rgb(34, 193, 103)'




                

            ],
           
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }],
            xAxes: [{
                type: 'category',
                labels: label,
            }]
        }
    }
});

  // catches errors in promise chain
  }).catch(error => console.log("Error fetching data"+error));
  
</script>


 

