
    {{!-- <h2>My Financial Analysis</h2>
    {{# each orders}}
    <div class="card">
  <div class="card-header">
  </div>
  {{# each this.items}}
  <div class="card-body">
    <h5 class="card-title">{{this.price}}</h5>
    <p class="card-text">{{this.item.title}}</p>
    <a href="#" class="btn btn-primary">{{this.qty}}</a>
    
  </div>
  {{/each}}
  <button class="btn btn-primary">{{this.cart.totalPrice}}</button>
  <h3>{{this.date}}</h3>
</div>
{{/each}} --}}
{{> dashboardHeader}}
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/user/profile">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/recent">
                  <span ><i class="fa fa-binoculars"></i></span>
                  Recent Transactions
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/local">
                  <span ><i class="fa fa-shopping-basket"></i></span>
                  Products Bought
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span ><i class="fa fa-car"></i></span>
                  Customers
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span ><i class="fa fa-file"></i></span>
                  Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                  Integrations
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Year-end sale
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Transactions Graph</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

          <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
<a href="/user/recent">Recent</a>
          <h2>Summary of Recent Transactions</h2>
{{# each orders}}

          <div class="table-responsive">
            <table class="table table-striped table-sm">
            {{# each this.items}}
              <thead>
                <tr>
                  <th>Item Price</th>
                  <th>Item Name</th>
                  <th>Item Description</th>
                  <th>Category</th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{this.price}}</td>
                  <td>{{this.item.title}}</td>
                  <td>{{this.item.description}}</td>
                  <td>{{this.item.category}}</td>
                  <td>{{this.qty}}</td>
                </tr>
              </tbody>
               {{/each}}
            </table>
            <h3>{{this.date}}</h3>
          {{/each}}
          </div>
        </main>
      </div>
    </div>
  <script>

</script>


 

