
{{> dashboardHeader}}
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/user/profile">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">Current</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/user/recent">
                  <span ><i class="fa fa-binoculars"></i></span>
                  List of All Transactions
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/monthly">
                  <span ><i class="fa fa-shopping-basket"></i></span>
                  Monthly Expenditures
                </a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/user/getcategory">
                  <span ><i class="fas fa-chart-line"></i></span>
                  Category Charts
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/monthlyEarning">
                  <span ><i class="far fa-money-bill-alt"></i></span>
                  Monthly Earnings
                </a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="/user/bycategory">
                  <span ><i class="fa fa-shopping-basket"></i></span>
                  Expenditures by Categpry
                </a>
              </li>
            
             
             
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Profile Settings</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
            
             <li class="nav-item">
                <a class="nav-link" href="/user/manualExp">
                  <span ><i class="fa fa-plus"></i></span>
                  Add Expenses
                </a>
              </li>
          
              <li class="nav-item">
                <a class="nav-link" href="/user/update">
                  <span ><i class="fas fa-address-card"></i></span>
                  Profile
                </a>
              </li>
              
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Complete List of Transactions</h1>
        
          </div>

{{# if orders}}  
          
{{# each orders}}

          <div class="table-responsive">
            <table class="table table-striped table-sm">
            <h3>{{moment this.date "MMMM Do YYYY, h:mm:ss a"}}</h3>
            <h6>{{moment this.date endOf="week" fromNow=true}} Ago</h6>
            {{this.cart.totalPrice}}
            
              <thead>
                <tr>
                  <th>Item Price</th>
                  <th>Item Name</th>
                  <th>Item Description</th>
                  <th>Category</th>
                  <th>Quantity</th>
                </tr>
              </thead>
              {{# each this.items}}
              <tbody>
                <tr>
                  <td>{{this.price}}</td>
                  <td>{{this.item.title}}</td>
                  <td>{{this.item.description}}</td>
                  <td>{{this.item.category}}</td>
                  <td>{{this.qty}}</td>
                </tr>
              </tbody>
               {{/each}}
            </table>
           
          {{/each}}
          </div>
        </main>
      </div>
    </div>
{{else}}
<div class="container" style="text-align:center">
<h1><div class="alert alert-warning" role="alert">
  No Transactions Yet
</div></h1>
<img height="100px" src="/images/sad.png">
</div>
{{/if}}

 

