  {{> header}}

<div class="container">
  <div class="row">
    <button class="btn btn-primary">Side bar</button>
  </div>
  <div   class="row">
  {{# each products}}

{{# each this}}
<div class="card" style="width: 18rem;">
  <img class="img-fluid" src="{{this.imagePath}}" alt="Product Image">
  <div class="card-body">
    <h5 class="card-title">{{this.title }}</h5>
    <p class="card-text">Kshs. {{this.price}}</p>
     <a href="/add-to-cart/{{this._id}}" class="btn btn-success addtocart" data-id="{{this.id}}">Add to cart</a>
  </div>
</div>
{{/each}}
{{/each}}
</div>

</div>





 

