
            
{{> header}}
  {{# if products}}
  <div class="row">
  <div class="col-3">
	  <div class="check">	 
			 <div class="cart-total">
			 <a class="continue" href="/"><span><i class="fas fa-chevron-left"></i></span> Back to Online Shop</a>
			 <div class="price-details">
				 <h3>Price Details</h3>
				 <span>Total</span>
				 <span class="total1">{{totalPrice}}</span>
				 <span>Discount</span>
				 <span class="total1">Kshs. 0</span>
				 <span>Delivery Charges</span>
				 <span class="total1">Kshs. 0</span>
				 <div class="clearfix"></div>				 
			 </div>	
			 <ul class="total_price">
			   <li class="last_price"> <h4>TOTAL</h4></li>	
			   <li class="last_price"><span>Kshs. {{totalPrice}}</span></li>
			   <div class="clearfix"> </div>
			 </ul>
			
			 
			 <div class="clearfix"></div>
			 <a class="order" href="/checkout">Proceed to Checkout <span><i class="fas fa-chevron-right"></i></span></a>
			 
			</div>

	</div>
  </div>
  <div class="col-9">
	 <h1>Shopping Cart</h1>
	 {{# each products}}
			 <div class="cart-header">
				 <div class="close1"> </div>
				 <div class="cart-sec simpleCart_shelfItem">
						<div class="cart-item cyc">
							 <img src="{{this.item.imagePath}}" class="img-responsive" alt="Image for product"/>
						</div>
					   <div class="cart-item-info">
						<h3><a href="#">{{this.item.title}}</a><span>Quantity: {{this.qty}}</span></h3>
						<ul class="qty">
							<li><p>Price :Kshs. {{this.price}}</p></li>
							
						</ul>
						<h2><a href="/reduce/{{this.item._id}}"><span><i class="fas fa-minus-circle"></i></span></a></h2><span>(Minus 1)</span>
            			<h2><a href="/remove/{{this.item._id}}"><span><i class="far fa-trash-alt"></i></span></a></h2><span>(Delete Item from Scart)</span>
						
					   </div>
					   <div class="clearfix"></div>
											
				  </div>
			 </div>
	{{/each}}
{{else}}
<div class="container" style="text-align:center">
<h1><div class="alert alert-warning" role="alert">
  No items in the Cart
</div></h1>
<img height="100px" src="/images/sad.png">
</div>

{{/if}}			
</div>
