{{!-- {{# if products}}
<div class="row">
 
    <ul class="list-group">
        {{# each products}}
        <li class="list-group-item">
            <li>{{this.qty}}</li>
            <li>{{this.item.title}}</li>
            <li>Kshs.{{this.price}}</li>
            <li><a href="/reduce/{{this.item._id}}">Reduce By 1</a></li>
            <li><a href="/remove/{{this.item._id}}">Remove All</a></li>
        </li>
        {{/each}}
    </ul>
    
</div>
<div class="row">
   <div class="col-sm-6">
       <strong>Total:{{totalPrice}}</strong>
   </div>
</div>
<hr>
<div class="row">
   <div class="col-sm-6">
       <a href="/checkout" class="button btn-success">Checkout</a>
   </div>
</div>
{{else}}
<div class="row">
   <div class="col-sm-6">
       <strong>No items in the Cart</strong>
   </div>
</div>
{{/if}}
 --}}

            
{{> header}}
  {{# if products}}
  <div class="row">
  <div class="col-3">
	  <div class="check">	 
			 <div class="cart-total">
			 <a class="continue" href="/">Continue to basket</a>
			 <div class="price-details">
				 <h3>Price Details</h3>
				 <span>Total</span>
				 <span class="total1">{{totalPrice}}</span>
				 <span>Discount</span>
				 <span class="total1">Kshs. 0</span>
				 <span>Delivery Charges</span>
				 <span class="total1">Kshs. 0</span>
				 <div class="clearfix"></div>				 
			 </div>	
			 <ul class="total_price">
			   <li class="last_price"> <h4>TOTAL</h4></li>	
			   <li class="last_price"><span>Kshs. {{totalPrice}}</span></li>
			   <div class="clearfix"> </div>
			 </ul>
			
			 
			 <div class="clearfix"></div>
			 <a class="order" href="/checkout">Place Order</a>
			 
			</div>

	</div>
  </div>
  <div class="col-9">
	 <h1>Shopping Cart</h1>
	 {{# each products}}
			 <div class="cart-header">
				 <div class="close1"> </div>
				 <div class="cart-sec simpleCart_shelfItem">
						<div class="cart-item cyc">
							 <img src="{{this.item.imagePath}}" class="img-responsive" alt="Image for product"/>
						</div>
					   <div class="cart-item-info">
						<h3><a href="#">{{this.item.title}}</a><span>Quantity: {{this.qty}}</span></h3>
						<ul class="qty">
							<li><p>Price :Kshs. {{this.price}}</p></li>
							
						</ul>
						<li><a href="/reduce/{{this.item._id}}">Reduce By 1</a></li>
            			<li><a href="/remove/{{this.item._id}}">Remove All</a></li>
						
					   </div>
					   <div class="clearfix"></div>
											
				  </div>
			 </div>
	{{/each}}
{{else}}
<h1>No products</h1>
{{/if}}			
</div>
